
:root {
    --color-primary: #01c4b1;
    --color-secondary: #ff3d87;
    --color-secondary-darken: #dc437e;
    --color-tertiary: #737989;
    --color-text-light: #737989;
    --color-lighten: #8d929f;
    --bg-grey: #f6f7f9;
    --border-grey: #dddddd;
    --font-poppins: 'Poppins', sans-serif;
}

/* reusable code */
/* reusable code */
/* reusable code */
/* reusable code */
/* reusable code */




/* Button Primary */
.btn--primary {
    background-color: var(--color-primary);
    color: #ffffff;
    border-color: var(--color-primary);
  }
  
  .btn--primary:active,
  .btn--primary:focus,
  .btn--primary:hover {
    background-color: #00549a;
    border-color: #00549a;
    color: #ffffff;
  }